/* MAIN */
body {
	font: 100% Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color:#777;
	line-height:1.4;
}

body > #sign {
	position:fixed;
	right:1em;
	bottom:1em;
	font-size:80%;
	text-align:right;
}

.text {
	font-family:"Times New Roman", Times, serif;
	font-style:italic;
}
/* ~~ Селекторы элементов/тегов ~~ */
ul, ol, dl { /* Из-за различий между браузерами рекомендуется обнулять поля в списках. Для согласованности можно указать нужные величины либо здесь, либо в элементах списка (LI, DT, DD), которые они содержат. Помните, что сделанное здесь последовательно включается в список .nav, если только не будет прописан более конкретный селектор. */
	padding: 0;
	margin: 0;
}
h1, h2, p {
	margin-top: 0;	 /* удаление верхнего поля позволяет обойти проблему выхода полей за границы содержащего их контейнера DIV. Оставшееся нижнее поле отделит его от любых последующих элементов. */
}
a img { /* этот селектор убирает стандартную синюю рамку, которая появляется у изображений в некоторых браузерах, если вокруг изображения есть ссылка */
	border: none;
}
/* ~~ Оформление ссылок на вашем сайте должно оставаться в этом порядке, включая группу селекторов, создающих эффект наведения. ~~ */
a:link {
	color:#FFF;
	text-decoration: underline; /* если только ссылки не должны выглядеть исключительно своеобразно, то для быстрого зрительного распознавания рекомендуется использовать подчеркивание */
}
a:visited {
	color:#CCC;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* эта группа селекторов обеспечивает пользователю, работающему с клавиатурой, такие же возможности наведения, как и при использовании мыши. */
	text-decoration: none;
}

a.pseudo {
	color:#FFF;
	text-decoration:none;
	border-bottom: 1px #FFF dashed;
}
button.pseudo {
	border: none;
	background: none;
	padding: 0;
	cursor: pointer;
	font-size: 100%;
	color: inherit;
	border-bottom: 1px dashed #FFF;
}
button.disabled {
	border:none;
}
a.uiTextButton, a.uiTextButton:visited {
	color:#000;
}

a.uiTextButton:hover {
	color:#e10505;
}

/* ~~ этот контейнер фиксированной ширины окружает все остальные элементы ~~ */
#screen {
	width: 875px;
	background-color: #FFF;
	margin: 0 auto; /* автоматическое задание величин по бокам в совокупности с шириной центрирует макет */
}

/* ~~ прочие классы float/clear ~~ */
.fltrt {  /* этот класс можно использовать для обтекания элемента справа на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* этот класс можно использовать для обтекания элемента слева на странице. Обтекаемый элемент должен предшествовать элементу, с которым он должен находиться рядом на странице. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* этот класс можно поместить в теге <br /> или в пустом блоке DIV в качестве конечного элемента, следующего за последним обтекаемым DIV (внутри #container), если overflow:hidden удалено в .container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.algnrght {
	text-align:right;
}
.algnlft {
	text-align:left;
}
.goodMessage {
	color:#0F0
}
.notGoodMessage {
	color:#FF0
}
.alertMessage {
	color:#F90;
}
.paragraph {
	margin-bottom:1em !important; 
}
-->
/* END OF MAIN */

/*------------------------------------------*/

/* FORMS */
#enterForm {
	width: 560px;
	background: url(img/bg.png);
	background-size:100% auto;
    -moz-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Параметры тени */
	text-align:left;
	margin:10% auto 0;
	padding-bottom:15px;
}

#enterForm input[type=submit] {
	position:relative;
	margin-top:15px;
}

.workZone {
	width:560px;
	background-image: url(img/bg.png);
    -moz-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Параметры тени */
	margin: 0;
	padding: 0px 0px 15px 0px;
	display:inline-block;
	float:left;
	position:relative;
	background-size:100% 1044px;
}


#deliverySchedule, .deliverySchedule {
	font-size:11px;
	text-align:center;
}

#deliverySchedule + p {
	text-align:center;
}

.whiteSubstrate {
	position:relative;
	right:15px;
	display:inline-block;
	width:470px;
	background-color:#FFF;
	box-shadow: 0 0 6px 3px #333;
	padding:5px 0px 15px 0px;
	margin-left:45px;
}

.mainInputFields {
	position:relative;
	display:block;
	min-width:560px;
	right:45px;
	height:45px;
	margin-top:10px;
}

div.oneForm {
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 2;
	margin: 0 0 20px 0;
	border: none;
	padding: 0;
}

.fieldTip {
	display: inline-block;
	margin: 0px 0px 0px 32px;
	float: left;
	padding: 3px;
	background-color: #ffcb17;
	border: 0;
	height: 39px;
}


.fieldTip span, fieldTip span.long {
	display:inline-block;
	background-color: #ffcb17;
	color: #fff;
	font: bold 26px/33px Arial, Helvetica, sans-serif;
	text-shadow: #333 0 0 3px;
	padding: 3px 0px 5px 0px;
	border: 1px solid #fff;
	width: 135px;
	height: 27px;	
}

.fieldTip span.long {
	font-size:22px;
	width: 240px;
}

.greyInputWrapper {
	display: inline-block;
	margin: 0px;
	padding: 0;
	border: 0;
	float: left;
	padding: 3px;
	background-color: #b3b4b7;
	text-align: center;
	height: 39px;
}

.greyInputWrapper div{
	display: inline-block;
	float: left;
	background-color: #b3b4b7;
	border: 1px solid #fff;
	text-align: center;
	height: 37px;
}

.greyInputWrapper .greyInput, .greyInputWrapper .greyShortInput {
	background-color: #b3b4b7;
	color: #4e4e4f;
	font: bold 22px/22px Arial, Helvetica, sans-serif;
	border:none;
	border-bottom: 1px dotted #fff;
	width: 306px;
	text-align: center;
	outline: none;
	-webkit-appearance: none;
	margin: 3px 10px 8px 10px;
	padding: 0;
}

.greyInputWrapper .greyShortInput {
	width:201px;
}
#addMessageForm {
	text-align:right;
}

#addMessageForm textarea {
	margin:15px 15px 0px 15px;
	width:263px;
	height:100px;
}

#addMessageForm textarea.clientMessageField {
	width:470px;
	height:100px;
}

#addMessageForm input {
	margin:5px 15px 0px 0px;
}

#sortOrderList label {
	color:#FFF;
	display:inline-block;
	text-align:left;
}

#sortOrderList select, #sortOrderList input {
	background-color:#E3E3E3;
	font-size:15px;
	border:1px solid #CCC;
}

#surnameList {
	width:100%;
	text-align:left;
	box-sizing:border-box;
}

#orderCloseForm {
	display:inline-block;
	text-align:right;
	margin-left:1em;
}

#billAddForm {
	text-align:center;
}

.window {
	display:none;
}
.window input, .window textarea {
	box-sizing:border-box;
	width:100%;
	max-width: 100%;
}
.window textarea {
	height:40px;
}
#sendRequestWindow textarea {
	height:100px
}
/*END FORMS */

/*-----------------------------------------------------------*/

/* BUTTONS */
button {
	margin:0;
}

.smallButton {
	width:26px !important;
	height:26px !important;
}

.smallButton .ui-button-text {
	padding:0 !important;
}

.miniButtonAdd {
	float:right;
	cursor:pointer;
}

#mainMenu a {
	text-decoration:none;
}
#mainMenu a[clickable="0"] {
	background: url(img/buttonBig.png) no-repeat left -102px;
}

.clientOrdersListLink {
	display:block
}

.buttonStandart, .buttonStandartPressed {
	display:inline-block;
	width: 278px;
	background: url(img/buttonBig.png) no-repeat;
	color: #fff;
	height:51px;
	font: 18px/51px Arial, Helvetica, sans-serif; 
	-moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
	outline: none;
	border: none;
	background-color: #6e6e70;
	cursor:pointer;
	padding:0px;
	text-decoration:none !important;
	text-align:center;
}

.buttonStandart:hover{
	background-position:left -51px;
	color: #4e4e4f !important;
}

.buttonStandart:active{
	background-position:left -102px;
	color: #4e4e4f;
}

.buttonStandart:visited {
	color:#FFF;
}

.buttonStandart[clickable="0"] {
	background-image: url(img/newUserPressed.png);
}

form .buttonStandart {
	margin:15px 0px 0px 137px;
}

.buttonMiddle {
	width: 151px;
	background: url(img/middleButton.png) no-repeat 0px -36px;
	height:36px;
	font: 16px/36px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
}

.buttonMiddle:hover {
	background: url(img/middleButton.png) no-repeat 0px 0px;
	color: #000;
}

.buttonMiddle:active {
	background: url(img/middleButton.png) no-repeat 0px -36px;
	color: #fff;
}

a.buttonMiddle:visited {
	color: #fff;
}

.buttonSmall {
	width: 97px;
	background: url(img/smallButton.png) no-repeat 0px -23px;
	height:23px;
	font: 15px/23px Arial, Helvetica, sans-serif; 
}

.buttonSmall:hover {
	background: url(img/smallButton.png) no-repeat 0px 0px;
	color: #000;
}

.buttonSmall:active {
	background: url(img/smallButton.png) no-repeat 0px -23px;
	color: #fff;
}

label.ui-state-active, a.ui-state-active {
	background: #FFBC17 url(css/custom-theme/images/ui-bg_glass_55_f2b726_1x400.png) 50% 50% repeat-x !important;
	color:#FFF !important;
}

.statusFilter label {
	width: 135px;
}
a.printPageButton {
	position:absolute;
	right:15px;
	top:50px;
}
/* END BUTTONS */

/*-----------------------------------------------------------*/

/* TEXT */
h2 {
	color: #fff;
	font-family: Arial, sans-serif;
}
h3 {
	margin:1em 0 0.5em;
}
h4 {
	margin:1.33em 0 0.66em;
}
#correspondence {
	color:#fff;
	margin:7px 15px;
}

#workZone p {
	color:#FFF;
	margin: auto 15px;
}

#response p {
	color:#000;
}

.createOrderMessage {
	text-align:left;
}
/* END TEXT */

/*-----------------------------------------------------------*/

/* CALENDAR */
#calendar {
	height:217px;
	margin:15px 0px;
}

#dateForOrder {
}

td.freeDay a.ui-state-default, #calendarLegend td.freeDay {
	background: #59A248 url(css/custom-theme/images/ui-bg_glass_75_3e7b2f_1x400.png) 50% 50% repeat-x;
}

td.semiOcuppiedDay a.ui-state-default, #calendarLegend td.semiOcuppiedDay {
	background: #ffc73d url(css/custom-theme/images/ui-bg_glass_40_ffc73d_1x400.png) 50% 50% repeat-x !important;
}


td.ocuppiedDay a.ui-state-default, #calendarLegend td.ocuppiedDay {
	background: #F00 url(css/custom-theme/images/ui-red_glass.png) 50% 50% repeat-x !important;
}

#calendarLegend {
	font-family: Arial, Helvetica, sans-serif;
	height:24px;
	text-align:left;
	margin-bottom:15px;
}

#calendarLegend .freeDay, #calendarLegend .semiOcuppiedDay,  #calendarLegend .ocuppiedDay {
	width: 25px;
}

/* END CALENDAR */

/*-----------------------------------------------------------*/

/* ORDERS LIST */
.ordersList, #clientsOrdersList {
	list-style:none;
	padding:0px;
	margin:15px 0px;
}

.ordersList li {
	height:123px;
	width:528px;
	position:relative;
	margin:0 0 0.5em 0;
	cursor:pointer;
	color:#000;
	border:1px #DDD solid;
	font-family:Arial, Helvetica, sans-serif;
}

.ordersList a, #clientsOrdersList a {
	display:block;
	height:100%;
	text-decoration:none;
	cursor:pointer;
	color:#000;
	position:relative;
}
.orderTopLine {
	position:absolute;
	top:0px;
	left:0px;
	height:23px;
	width:100%;
}
.ordersList li.noPayd, #clientsOrdersList li.noPayd, .inactiveOrder {
	background: #B4B4B4;
}

.ordersList li.noPayd .orderTopLine, .inactiveOrder .orderTopLine {
	background-color:#C4C4C4;
}

.ordersList li.payd, #clientsOrdersList li.payd, .goodOrder {
	background: #95c561;
}

.ordersList li.payd .orderTopLine, .goodOrder .orderTopLine{
	background-color:#a7d378;
}

.ordersList li.warning, #clientsOrdersList li.warning, .alertOrder {
	background: #EFF386;
}

.ordersList li.warning .orderTopLine, .alertOrder .orderTopLine{
	background-color:#f7f9c1;
}
.ordersList span.orderNumber {
	position:absolute;
	top:0px;
	left:3px;
	text-transform:uppercase;
}
.ordersList span.orderingDate {
	position:absolute;
	bottom:44px;
	left:3px;
}
.ordersList span.orderDelivery {
	position:absolute;
	bottom:22px;
	left:3px;
}
.ordersList span.daysLeft {
	position:absolute;
	bottom:0;
	left:3px;
}
.ordersList span.orderDealer {
	position:absolute;
	bottom:66px;
	left:3px;
}
.ordersList .paymentType {
	position:absolute;
	left:-77px;
	line-height:1.5em;
	background:none !important;
}
.ordersList .paymentPart {
	position:absolute;
	right:3px;
	top:26px;
}
.ordersList .paymentPart > div {
	width:200px;
	height:20px;
	border:1px solid #FFF;
	background: none;
	margin-bottom:2px;
	position:relative;
}
.ordersList .paymentPart > div > div {
	float:right;
	height:100%;
	background-color:#FFCB17;
}
.ordersList .paymentPart > div > span {
	position:absolute;
	right:0;
	top:0;
}
.ordersList table.accountsSumm {
	position:absolute;
	top:25px;
	right:3px;
	font-size: 90%;
	color:#333;
	border-collapse:collapse;
	text-align:right;
}
.ordersList table.accountsSumm td {
	padding:0 3px;
}

.ordersList table.accountsSumm td.border {
	border:1px #000 solid;
	width:85px;
}
.ordersList .warning span.orderMessage, .alertOrder span.orderMessage {
	position:absolute;
	top:23px;
	left:0;
	color:#FFF;
	background-color:#da1e2c;
	padding:0px 7px;
	font-size:10px;
}
.ordersList span.orderStatus {
	position:absolute;
	top:0px;
	right:3px;
	line-height:24px;
	font-weight:bold;
}

.clientView li {
	display:list-item;
	height:90px;
}

ul.clientView li {
	margin-bottom:5px;
}

#clientsOrdersList li{
	margin:0px 15px 5px 15px;
	text-align:left;
	padding:0px 5px;
	position:relative;
}
#clientsOrdersList span.orderNumber {
	text-transform:uppercase;
}
ul.clientView span.orderDelivery {
	top:44px;
	font-size:16px;
}
ul.clientView span.orderStatus {
	display:inline;
	top:auto;
	bottom:0px;
	font-size:15px;
	text-align:left;
	left:3px;
}


/* END ORDERS LIST */

/*-----------------------------------------------------------*/

/* <ORDER INFO> */
.content {
	text-align:left;
	padding:0px 15px;
	color:#FFF;
	overflow:hidden;
}
table.content {
	border-collapse:collapse;	
	width:530px;
}
.content > table {
	border-collapse:collapse;
	margin-bottom: 1em;
}
.content > p {
	margin:0 0 1em;
}
.orderDetails td {
	padding:3px;
}

table.orderDetails td.sHeader {
	width:130px;	
	border:1px solid #666;
	background-color:#BBB;
	color:#000;
	margin-bottom:3px;
}
.accounts td {
	padding:0;
	line-height:1;	
}
.accounts .billComment {
	padding-left:1em;
	font-style:italic;
	font-family:"Times New Roman", Times, serif;
}
.accounts .billStatus {
	text-align:right;
}
.billStatus .goodMessage, .billStatus .alertMessage {
	padding-right:7px;
}
.accounts .paySumm {
	width:110px;
}
.accounts .padding {
	padding:1em;
}

.accounts_old td {
	border:1px #BBB solid;
}
.accounts_old td.pay {
	width:220px;
	vertical-align:top;
}

.accounts_old td.pay p {
	margin:0;
	padding:0;
}

.accounts_old td.margin {
	border-bottom:none;
	border-left:none;
	border-right:none;
}
.accounts .payList .paySumm:after {
	content: ";";
}
.accounts tr:nth-last-child(2) .paySumm:after {
	content: ".";
}
.orderInfo .components {
	padding-left:0.5em;
}
.orderInfo .components span {
	width:70px;
	display:inline-block;
}
.orderInfo .holograms {
	padding-left:0.5em;
	overflow:hidden;
	margin-bottom:1em;
}
.orderInfo .hologram {
	font-weight:bold;
	min-width:100px;
	height:18px;
	margin:2px;
	text-align:center;
	float:left;
}
.orderInfo .hologram:before {
    content:'[ ';
}
.orderInfo .hologram:after {
    content:' ]';
}
.orderInfo .phone:after {
	content:'; ';
}
.orderInfo .progress {
	margin-bottom:0.5em;
}
.orderInfo .progress > table {
	width: 100%;
	border-collapse: separate;
	border: 1px solid #FFF;
	margin-bottom:0.5em;
}
.orderInfo .progress > table tr td {
	width: 12%;
	height: 20px;
}
.orderInfo .passed {
	background-color: #ffcb17;
}
.orderInfo .stepNumber {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 0 8px;
	color: #000;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	
}
.orderInfo .lifeCycleText {
	line-height: 30px;
	color: #ffcb17;
	margin-bottom: 0.3em;
	overflow:hidden;
}
.orderInfo .lifeCycleText button {
	float: right;
}
.orderInfo .progress .warehouse {
	width:60%;
	float:left;
}
.orderInfo .progress .warehouse.step5 {
	display:none;
}
.orderInfo .progress .production {
	width:40%;
	float:left;
}
.orderInfo .progress .production.step5 {
	display:none;
}
.orderInfo .progress div table {
	position:relative;
	bottom:0.5em;
}
.orderInfo .progress div table th {
	font-weight:normal;
	font-style:italic;
	font-size:90%;
}
.orderInfo .progress div table tr {
	line-height: 1;
}
.orderInfo .progress div table td:nth-child(1) {
	padding: 0 0.5em;
}
.orderInfo .progress div table td:nth-child(1n+1) {
	min-width:1em;
}

.orderInfo .progress .inactive {
	color: #444 !important;
	border-color: #444 !important;
}
.orderInfo .progress .check {
	background-color: #0F0;
}
.orderInfo .progress .warehouse button.pseudo, .orderInfo .progress .production button.pseudo {
	position:relative;
	z-index: 10;
}
/* </ORDER INFO> */

/* --------------------------------------------------------- */

/* BILLS USER VIEW */
/* END BILLS USER VIEW */

/*-----------------------------------------------------------*/

/* OTHER ELEMENTS */
#rightMenu, #sidebar {
	width:300px;
	float:right;
	padding:15px 0px;
	background-image: url(img/bg.png);
    -moz-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Параметры тени */
	margin:0px 0px 0px 15px;
	background-size:100% 1044px;
}

#mainMenu {
	margin:0px;
	padding:0px;
	list-style:none;
	text-align:center;
}

#mainMenu > :last-child {
	margin-top:1em;
}

#calendar {
	position:relative;
	width:100%;
}

.dayInfo {
	position:absolute;
	width:146px !important;
	left:19em;
	top:0px;
	text-align:center;
	background:#FFF;
	height:212px;
}

.dayInfo > div {
	margin-bottom:12px !important;
}

.dayInfo label {
	margin: 0;
	width:140px;
}

.dayInfo .ui-state-default {
	background: #59A248 url(css/custom-theme/images/ui-bg_glass_75_3e7b2f_1x400.png) 50% 50% repeat-x;
}

.dayInfo label span.ui-button-text {
	padding: 3px 0;

}

.yellowSideStripe, .bigYellowSideStripe {
	height:45px;
	width: 6px;
	background-color: #ffcb17;
	float: left;
}

.bigYellowSideStripe {
	height:117px;
}

#typeOfOrderHint {
	font-size: 12px;
	font-style: italic;
}

#tof {
	margin:0;
}

#tof span {
	width:174px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

#response {
	display:none;
}

#usersList .ui-widget-content {
	background:none !important;
}

#usersList h3 a span {
	float:right;
	font-family:"Lucida Console", Monaco, monospace;
	color:#333;
}

#closedDays .ui-datepicker {
	margin:0 auto;
}

#billAddWindow, billEditWindow {
	overflow:hidden;
}

#notice {
	display:none;
	
	position:absolute;
	box-sizing:border-box;
	width:300px;
	background-color:#EFF386;
	color:#000;
	text-align:justify;
    -moz-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px 3px rgba(0,0,0,0.5); /* Параметры тени */
}
/* END OTHER ELEMENTS */

/*-------------------------------------------------------------*/

/*  VERSTALSHIK */

form.order {
	width: 500px;
	height: 1044px;
	background-image: url(../img/bg.png);
	text-align: center;
	margin: 0;
	padding: 0;
}

div.logoPlace {
	text-align: center;
	padding-top: 15px;
}
img.logo {
	float:left;
}
#designersList, div.twoForm {
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
	z-index: 2;
	margin: 5px 0 10px 0;
	border: none;
	
	padding: 0;
}

p.remember {
	display: inline-block;
	float: right;
	font:  22px/40px Arial, Helvetica, sans-serif;
	color: #b3b4b7;
	margin: 5px 7px 10px 0;
}

input.checkRem {
	width: 20px;
    height:20px;
    border: none;
    color:#fff;
    background-color:#c1c1c1;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    border: 0px inset ThreeDFace ! important;
    margin: 0 0 0 5px;
    padding: 5px 4px 3px 5px;
}

div.twoYellows {
	min-height: 110px;
	width: 6px;
	float: left;
	
}

div.diz {
	font-size:24px !important;
	line-height: 31px;
}

input.simBut {
	-moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
	background: url(img/simpleButton.png) no-repeat;
	width: 142px;
	height: 33px;
}

div.sheduleName {
	background-color: #ffcb17;
	color: #fff;
	font: bold 22px/31px Arial, Helvetica, sans-serif;
	text-shadow: #333 0 0 3px;
	padding: 3px 0px 5px 0px;
	width: 100%;
	
}

div.smallYellow2 {
	min-height: 40px;
	min-width: 6px;
	background-color: #ffcb17;
	float: left;
	
}

div.times {
	margin: 10px 0 10px 0;
	position:relative;
	padding: 0;
	width: 210px;
	display: inline-block;
}

.tim {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	margin: 0;
	padding: 0;
}

.diRe {
	display: inline-block;
	float: left;
	margin: 10px 0 0px 50px !important;
}

.miniButtonAdd a{
	margin: 5px;
	color: #fff;
	font: 32px Arial, Helvetica, sans-serif; 
}

a.pms:hover {
	color: #ffeeb1;
}

.checkbox {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
}

label.Che {
	margin: 14px 0 0 5px;
	display: inline-block;
	position: relative;
	float: right;
	padding: 0;
	margin-right: .1em;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
	height:31px;
	width: 28px;
	background-image: url(../img/checkbox.png);
	background-repeat: no-repeat;
}

label.CheChecked {
	margin: 5px 0 0 5px;
	display: inline-block;
	position: relative;
	float: right;
	padding: 0;
	text-decoration: none !important;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
	height:31px;
	width: 28px;
	background-image: url(../img/gal.png);
	background-repeat: no-repeat;
}

/*================================= Filter ===========================*/

#main_Filter {
    padding-left: 5px;
}

#filter_select_1 {
    width: 215px;
    margin-left: 17px;
}

#dp1374466519663 {
    width: 90px;
    margin-left: 17px;
}

#Text1 {
    width: 90px;
}

#ipSearch {
    width: 215px;
    margin-left: 3px;
}

#sortOrdersBy {
   
    width: 115px;
}

.select_radio {
    margin-left: 40px;
}

.uiButton iconClose {
    
}

/* patch*/

.largeNotes {
	width: 470px;
	max-width: 470px;
	height: 200px;
	padding: 10px;
	margin:0px 0px 0px 20px;
}

.largeNotes:focus {
	background-color: #fff;
}

#userCreateForm, #orderCreateForm, #enterForm {
	background-repeat: repeat-y;
}

/* END VERSTALSHIK */

/* CHART */
li.daysInSchedule {
	list-style-type:none;
	display:inline-block;
	width:100px;
	text-align:center;
	height:290px;
	vertical-align:top;
	background:url(img/stripesForGraph.png) repeat-x top;
}

.chart {
	width:90px;
	margin:0 5px;
	text-align:center;
	border:1px #FFF solid;
	vertical-align:top;
}

.payd {
	background-color:#336;
}

.notPayd {
	background-color:#369;
}
/* END CHART */
/*----------------------------------------------------------------*/
/* DILLERS BILLS */
.debtList, .paysList {
	border-collapse:collapse;
	width:100%;
	line-height:1;
	margin:0 0 2em;
}
.debtList th, .paysList th {
	font-weight:normal;
	font-size:70%;
	padding:5px 0;
}
.debtList td {
	padding-bottom:0;
	vertical-align:top;
}
.debtList td.number, .paysList td.number {
	width:45px;
}
.debtList td.debt, .paysList td.pay {
	text-align:right;
	width:70px;
}
.debtList td.date {
	text-align:right;
	width:110px;
}
.paysList td.date {
	vertical-align:top;
	text-align:left;
	width:110px;
}
.paysList td.daySumm {
	text-align:right;
	padding:0.5em 3px 1em;
}
.paysList td.ruble {
	padding:0.5em 3px 1em 0;
}
/* END OF DILLERS BILLS */
/*----------------------------------------------------------------*/
/* ADS */
#respondents ul {
	list-style-type: none;
}
#respondents .clients {
	float: left;
}
#respondents .managers {
	float:right;
}
.clients ul label {
	width:200px;
}
.managers ul label {
	width: 310px;
}
#ads {
	position: absolute;
	top:0;
	left:0;
	width:450px;
	padding:0.5em;
	z-index: 10;
}
#ads .ads {
	display:none;
}
#ads .hideAds {
	display:none;
	float:right;
}
#ads h3[data-read="0"] {
	font-weight: bold !important;
}
/* END ADS */